:root{
    --main-color:rgb(61, 145, 194);
}
 nav .active{
    color: var(--main-color) !important;
}
.osaka{
    transition: color 1s;
}
.osaka:hover{
    color: var(--main-color);
}
header{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
header .caption h1{
    color: #fff;
    font-size: 3rem;
}
header .caption p{
    color: white;
    font-size: 18px;
}
header .caption .a{
    display: inline-block;
    color: var(--main-color);
    margin-bottom: 10px;
    transition: all 1.5s;
}
header .caption .a:hover{
    transform: scaleX(-100%);
}
header .caption ul{
    display: flex;
}
header .caption ul a{
    margin-right: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px ;
    height: 40px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 50%;
    transition: all 1s;
}
header .caption ul a:hover{
    background-color: var(--main-color);
    color: bisque;
    border-color: bisque;

}
section{
    background-image: url(../images/light_dot.jpg);
}
 .titles{
    margin-inline: 50px;
    color: rgb(165, 151, 151);
    font-size: 2.8rem;
}
 .titles h3{ 
    letter-spacing: 20px;
    color: rgb(11, 71, 71);
    font-size: 5rem;
    font-weight: bolder;
}

.services{
    margin-top: 50px;
padding: 50px 0;
background-image: url(../images/dark_dot.jpg);
}
 
.services .branding{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.services .branding h3{
    position: relative;
    margin-top: 10px;
}
.services .branding h3::after{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
    transition: width 1s;
}
.services .branding:hover h3::after{
    width: 120px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #000;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
    color: #fff; 
}
.slider-img img{
    width: 100px;
    border-radius: 50%;
    transform: translateY(50%);
}
.testmonial .slide{
    width: 80%;
    margin: auto;
}
.testmonial .carousel-indicators [data-bs-target]{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-indent: 0 ;
    overflow: hidden;
}
